@{
    ViewData["Title"] = "Confirmação de Registro";
}

<h2>Registro Bem-sucedido</h2>

<p>Um e-mail de confirmação foi enviado para seu endereço. Verifique sua caixa de entrada para confirmar sua conta.</p>
