@model List<Post>
<h2>Posts</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Created At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.DatePosted.ToShortDateString()</td>
                <td>
                    <a href="/Posts/Edit/@item.Id">Edit</a> |
                    <a href="/Posts/Details/@item.Id">Details</a> |
                    <a href="/Posts/Delete/@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Posts/Create">Create New</a>
